<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.big_buum_man.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application 
        android:icon="@drawable/ic_launcher"
        android:allowBackup="true"
        android:theme="@style/AppBaseTheme" 
        android:label="@layout/main">
        
            <activity
            android:name="at.big_buum_man.client.gui.MainActivity"
            android:screenOrientation="landscape"  
            android:label="@string/app_name" >
	            <intent-filter>
	                <action android:name="android.intent.action.MAIN" />
	                <category android:name="android.intent.category.LAUNCHER" />
	            </intent-filter>
        	</activity>
        	
        	<activity
            android:name=".Settings"
            android:screenOrientation="landscape"  
            android:label="@string/app_name" >
	            <intent-filter>
	                <action android:name="at.big_buum_man.client.gui.Settings" />
	                <category android:name="android.intent.category.DEFAULT" />
	            </intent-filter>
        	</activity>
        	
        	<activity
            android:name=".Ueber"
            android:screenOrientation="landscape"  
            android:label="@string/app_name" >
	            <intent-filter>
	                <action android:name="at.big_buum_man.client.gui.Ueber" />
	                <category android:name="android.intent.category.DEFAULT" />
	            </intent-filter>
        	</activity>
        	
        	<activity
            android:name=".Verbinden"
            android:screenOrientation="landscape"  
            android:label="@string/app_name" >
	            <intent-filter>
	                <action android:name="at.big_buum_man.client.gui.Verbinden" />
	                <category android:name="android.intent.category.DEFAULT" />
	            </intent-filter>
        	</activity>
        	
	</application>
</manifest>
